.white {
    color: #FFFFFF;
}
.NSGcenter {
    text-align: center;
}
.checkoutButtonText {
  font-size: 2vmin !important;
}
/* Spending Account Nav Option */
.spendingaccounts {
  padding: 15px 8px;
  color: #ffffff;
  font-size: 75%;
}
.spendingaccounts-xs {
  padding: 18px 0px 0px 0px;
  color: #ffffff;
  font-size: 1.7vmin;
}
.FontSmall {
    font-size: 85%;
}
/* Billing Bullets */
.FontSmall ul li {
  list-style-type: disc;
}
.FontSize07 {
    font-size: 7pt;
}
.FontItalics {
    font-style: italic;
}
/* Jumbor Header Home Page*/
.jumboHeaderText {
    text-align: center;
    /*vertical-align: middle;*/
    padding-top: 20px;
    color: #FFFFFF;
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
}
.jumbotron {
  padding: 0px;
}
.jumbotronInnerShadow {
    -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.1);
}
/*Edit Jumbrotron width - $ak */
.jumbotron {
  margin: 45px 0px -45px;
  /* margin: 45px 5px -45px; */
  display: none;
}
/* Navbar Drop Shadow */
.navbarDropShadow {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.42);
}
.navbarInnerShadow {
    -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.1);
}
#vertAlignJumbo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* NSG Tooltip */
.NSGtooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.NSGtooltip .NSGtooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    font-style: normal;
    font-size: 10pt;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;
}
.NSGtooltip .NSGtooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.NSGtooltip:hover .NSGtooltiptext {
    visibility: visible;
}
/* Adjust product list border/backgrounds $ak */
.panel-product-list {
    border-radius: 0px;
    border-color: transparent;
}
.panel-product-list .well {
  background-color: transparent;
  border: none;
  border-color: transparent;
}
.panel-product-list .aLinkSpacingFix {
  color: #333333;
}
.panel-product-list .well {
  border-color: transparent;
}
/* This counters the spacing issue on the product list page with <a> links */
.aLinkSpacingFix p a {
    padding: 0em !important;
    display: inline !important;
    text-decoration: none;
}
/* These will line up from left if needed
#NSGCircleNavBar {
    display: inline;
    float: left;
}
#NSGFontNavBar {
    clear: none;
    display: inline;
    float: left;
    margin-left: 10px;
}
*/
/*.NSGMiddle {
    vertical-align: middle;
}
*/
